
    .unicolor {
        background-color: rgb(173, 173, 173);
    }

    .bigwindow {
        background-color: rgb(83, 83, 83);
        overflow: none;
        display: flex;
        width: 100%;
        height: 100%;
        border-style: none;
        border-radius: 0.8ch;
    }

   


    /* start of center div */
    .Centercollumn {
        display: block;
        width: 30%;
        height: 99%;
        border-style: solid;
        border-color: black;
        border-radius: 0.8ch;
        margin-left: 0.2%;
        margin-top: 0.2%;
    }


    /* start of right div */
    .dashboard {
        overflow: none;
        display: block;
        width: 59.2%;
        height: 99%;
        border-style: solid;
        border-color: black;

        border-radius: 0.8ch;
        margin-left: 0.2%;
        margin-top: 0.2%;
    }

    .dashboard2 {
        overflow: auto;
        display: block;
        width: 90%;
        height: 60%;
        border-style: none;
        border-color: black;
        border-radius: 0.8ch;
        margin-left: 0.2%;
        margin-top: 0.2%;
    }

    .dashboardstatistic {
        display: flex;
        width: 99%;
        height: fit-content;
        margin-left: 0.1%;
        margin-top: 0.5%;
    }

    .dashboardstatisticjournaler {
        background-color: rgb(68, 67, 67);
        display: flex;
        width: 35%;
        height: 20%;
        height: fit-content;
        border-color: black;
        border-style:none;
        border-radius: 0.5ch;
        margin-left: 0.1%;
        text-align: center;
        justify-content: center;
    }

    .table {
        width: 90%;
        margin-top: 1%;
    }

    /* End of right div */
    .inputindex {
        width: 95%;
        margin-top: 1%;
    }

    p {
        color: white;
    }

    h1 {
        color: white;
    }

    button {
        width: 95%;
    }
